  @import url("https://fonts.googleapis.com/css?family=Roboto: 700");

*, *::before, *::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
  font-family: Roboto, sans-serif;
  background-color: #000;
  color: #fff;
  min-height: 100vh;
  display: grid;
  place-items: center;
  overflow: hidden;
  perspective: 600px;
  
  * {
    transform-style: preserve-3d;
  }
}

.scene {
  position: relative;
  
  * { position: absolute; }
}

.texts {
  font-size: 6vmin;
  animation: texts 12s infinite linear;

  &::after {
    content: '';
    position: absolute;
    inset: -7.5em -1.5em;
    background-image: linear-gradient(to right, transparent, 10%, black, 90%, transparent);
  }
}

.text {
  animation: text 8s calc(var(--text) * -2s) infinite linear;
  color: hsl(calc(var(--text) * 90) 75% 75%);
  
  span {
    inset: -1em;
    display: grid;
    place-items: center;
    font-weight: 700;
    user-select: none;
    transform:
      translateY(calc((var(--i) - 6) * 0.6em))
      rotateY(calc(var(--i) * 20deg))
      translateZ(1.5em)
      rotateZ(-40deg);
  }
}

@keyframes texts {
  from { transform: rotateZ(0deg) rotateX(20deg) rotateZ(360deg); }
  to { transform: rotateZ(360deg) rotateX(20deg) rotateZ(0deg); }
}

@keyframes text {
  to { rotate: y -1turn; }
}
